-cmake-
sudo apt install cmake
sudo apt install zlib


-python-
pip install numpy
sudo apt install python3-pip
pip install numpy
pip install matplotlib
pip install seaborn
sudo apt install zsh


-c2d-
sudo dpkg --add-architecture i386
sudo apt-get install libc6:i386 libncurses5:i386 libstdc++6:i386


-d4-

	-lib boost graphical-
	sudo apt-get install libboost-all-dev

	-m4- INSTALL
	tar xvzf m4-1.4.19.tar.gz
	./configure
	make
	sudo make install

	-gmp-
	sudo apt-get install libgmp-dev

	make -j8
